.addToDoForm {
    height: 4rem; 
    width: 29rem;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.button {
    background: rgb(32, 4, 110);
    color: #fcfcfc;
    border: 1px solid #f1f1f1; 
    padding: 3px;
    cursor: pointer;
    font-size: 18px;
      
    transition: all 0.1s ease-in;
}

button:hover { 
    background: #171212; 
    color: #ffffff;
}