.ListItem {
    padding: 1rem;
    margin: 1rem; 
    display: table; 
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-rows: 3rem;  
    align-items: center; 
} 

.DueDate {
    background-position: center;
    margin: auto;
    width: 15%; 
}

.tab {
    padding-right: 30px; 
    
} 